@import "tailwindcss";

@plugin "daisyui" {
  themes: "light";
}

@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar-hide";

@font-face {
  font-family: "Byekkan";
  src: url("../public/fonts/Yekan.ttf");
}


* {
  font-family: "Byekkan", sans-serif;
}